
*{
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: monospace;
  font-size: 18px;
  color: black;
}

.nav-item{
    cursor: pointer;
    background-color: transparent;
    color: black;
    font-weight: bold;
  }
  
  .container-fluid li{
    display: flex;
    justify-content: space-around;
  }
  
  .listpanel{
    display: flex;
    justify-content: space-around;
    /* padding:10px 40px; */
  }
  .listpanel::placeholder{
    color: black;
  }
  .input {
    padding: 5px 30px;
    border-radius: 20px;
    width: 400px;
}
.parent {
  width: 60%;
  margin: 0 auto;
    border: none;
    background-color: transparent;
    color: black;
    background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);

}

.list{
    display: flex;
    justify-content: space-around;
    padding:10px 40px;
    list-style: none;
}
.list:hover{
  background-color: #f0f0f0;
  border-radius: 10px;
  
}
#listinput{
  border: none;
  background-color:transparent ;
  padding: 5px 30px;
  width: 100%;
  display: block;

}
